<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Hero</title>
    <style type="text/css">

    </style>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Bike Drovers</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Login</a>
      </li>
    
    </ul>
  </div>
</nav>

<div class="container" style="margin-bottom:50px;">
  <h2 style="text-align:center;">Honda Bikes</h2>
  <p style="text-align:center;">Hero Motocorp Ltd., formerly Hero Honda, is an Indian multinational motorcycle and scooter manufacturer based in New Delhi, India. The company is the largest two-wheeler manufacturer in the world, and also in India, where it has a market share of about 46% in the two-wheeler category. The 2006 Forbes list of the 200 World's Most Respected Companies had Hero Honda Motors ranked at #108.</p>
  <div class="row">
    <div class="col">
      <img class="image" src="https://imgd.aeplcdn.com/393x221/bw/models/honda-sp-125-drum20191114135405.jpg?q=85" >
      <h5>Honda SP 125</h5>
      <h5>₹{{price}}</h5>
      <a href="/hondasp">Detailed Information</a>
    </div>
    <div class="col">
      <img class="image"  src="https://imgd.aeplcdn.com/393x221/bw/models/honda-cb-shine-drum--bs-vi20200221104642.jpg?q=85">
      <h5>Honda Shine</h5>
      <h5>₹{{price2}}</h5>
       <a href="/shine">Detailed Information</a>
    </div>
    <div class="col">
      <img class="image"  src="https://imgd.aeplcdn.com/393x221/bw/models/honda-hornet-20-standard20200827130131.jpg?q=85">
      <h5>Honda Hornet 2.0</h5>
      <h5>₹{{price3}}</h5>
      <a href="/hornet">Detailed Information</a>
    </div>
    <div class="col">
      <img class="image"  src="https://imgd.aeplcdn.com/393x221/n/bw/models/colors/undefined-imperial-red-metallic-1583235141163.jpg?q=85">
      <h5>Honda Unicorn</h5>
      <h5>₹{{price4}}</h5>
      <a href="/unicorn">Detailed Information</a>
    </div>
    <div class="col">
      <img class="image" style="width:400px;height:200px;border-radius:20%;margin-top:20px;" src="https://tse3.mm.bing.net/th?id=OIP.OsPKK5Xv-_arPlUiCRlpsAHaFj&pid=Api&P=0&w=208&h=156">
      <h5>Honda H'ness</h5>
      <h5>₹{{price5}}</h5>
      <a href="/hness">Detailed Information</a>
    </div>
    <div class="col">
      <img class="image"  src="https://imgd.aeplcdn.com/393x221/n/bw/models/colors/honda-select-model-black-1593712007417.jpg?q=85">
      <h5>Honda Livo</h5>
      <h5>₹{{price6}}</h5>
      <a href="/livo">Detailed Information</a>
    </div>
  </div>
</div>



    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>